@font-face {
    font-family: iranSans;
    src: url("../font/font/IRANSANS\(FANUM\).TTF");
  }
  @font-face {
    font-family: iranSansBlod;
    src: url("../font/IRANSANS\(FANUM\)_BOLD.TTF");
    
  }