.mother {
  width: 100%;
  display: flex;
  justify-content: center;
}
.flex_container {
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  /* direction: rtl; */
}
.box {
  display: flex;
  margin-top: 44px;
  width: 1040px;
  background: white;
  height: 42px;
}
.yoozify {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #0a9396;
  direction: rtl;
}

.menuone {
  display: flex;
  flex-wrap: nowrap;
}
.menu {
  margin: 0 1.4% 0;
  font-family: iranSans;
  /* border: 2px solid rgb(248, 148, 25); */
  font-size: 1.2vw;
}

.menu:hover {
  cursor: pointer;
  border-bottom: 4px solid  #0a9396;
  ;
  height: 80%;
}

