.mainbox{
    display: flex;
    flex-direction: row;
    background-color: red;
    margin: 0 auto;
    
    
}

.box{

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 330px;
    height: 562px;
    background: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(176, 176, 176, 0.25);
    border-radius: 10px;
    margin: 10px 0 ;
}
.photo{
    margin: 32px 0 32px;
    width: 271px;
    height: 174px;
}
.title{
    font-family: IRANSans(FaNum);
    font-size: 24px;
}
.txt{
    width: 271px;
    height: 181px;
    font-family: 'IRANSans(FaNum)';
    font-size: 22px;
    margin: 20px 0 10px;
}
.show{
    margin-top: 10px;
    display: flex;
    width: 85%;
    background: url('../../../asset/icon/enter.svg ') no-repeat 0 4px;
    color:#0A9396;
    justify-content: left;
    cursor: pointer;
}
.showmore{
    margin-left: 25px;
}
