.mainbox{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.box{
    margin-top: 150px;
    width: 305px;
    height: 337px;

    background: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(176, 176, 176, 0.25);
    border-radius: 10px;
}
.frontgradient{
    
    position: relative;
    z-index: 2;
    width: 250px;
    height: 272px;
    background: linear-gradient(358.82deg, #FFFFFF 56.66%, rgba(255, 255, 255, 0) 97.16%);
    margin: -160px auto 0;
}

.box > .personalimage{
    margin: -140px auto 0;
}
.personalname{
    position: relative;
    z-index: 3;
    margin:-90px  0 20px;
    font-family: IRANSans(FaNum);
    font-size: 24px;
} 
.activitiname{
    position: relative;
    z-index: 3;
    font-family: 'IRANSans(FaNum)';
font-style: normal;
font-weight: 400;
font-size: 16px;
}
.titlename{
    margin-top: 6%;
    color: #6F6565;
    font-family: iranSans;
}