.imagebox{
    width: 98%;
    height: 450px;
    margin: 0 auto;
}
.image{
    width: max-content;
    height:100%;
    margin:0 auto;
}
.title{
    font-family: iranSansBlod;
    width: max-content;
    margin: 10px  auto;
    font-size: 24px;
    color: #232323;
}
.textcontent{
    font-family: iranSans;
    width: 100%;
    max-height:98% ;
    margin: 50px auto 10px;
    color: #5C5C5C;
}
.dateDetails{
    margin: 20px ;
    color: #7E7E7E;
}



