.mainbox{
    padding-top: 20px;
    /* background: red; */
    margin: 0 auto;
    display:flex;
    justify-content: center;
}
.boxleft{
    /* display: flex;
    justify-content: space-around; */

    margin-top: 40px;
    width: 500px;
    height: 390px;

    border: 2px solid #0A9396;
    box-sizing: border-box;
    border-radius: 10px;

}

.boxright{ 

    height: 461px; 
    /* background-color: aqua; */

}

.backbox{ 
    width: 430px;
    height: 370px;
    background: #0A9396 ;
    border: 2px solid #0A9396;
    box-sizing: border-box;
    border-radius: 10px;
}
.frontbox{
    border-radius: 10px;
    width: 550px;
    height: 480px;
    position: relative;
    top: -185px;
    
}

.showtext{
    margin: 5px;
    /* background-color: crimson; */
    height: 75%;
}
/* .small{
    border-radius: 10px;
    width: 550px;
    height: 480px;
    position: relative;
    top: -185px;
} */
.nav{
    display: flex;
    justify-content: space-around;
	align-items: flex-end;
    margin: 0 auto;
    float: left;
    width: 25%;
    /* background-color: red; */
}